<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div class="container">
    <div class="row row-cols-1">
        <div class="col-4 offset-4 p-3 border bg-light gy-5">
            <h4 th:text="${title}"></h4>
            <form th:action="@{save}" th:object="${project}" method="post">
                <div class="form-floating mb-3">
                    <input type="text" th:field="*{name}" placeholder="Мой проект" id="floatingInput"
                           class="form-control form-control-lg">
                  <label for="floatingInput">Название проекта</label>
                    <span class="validationError text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
                </div>
                <button class="btn btn-primary px-5">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>