<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div style="width:800px; margin: 0 auto;">
            <div class="col-12 border bg-light gy-5 p-3">
                <h4 th:text="${title}"></h4>
                <form th:action="@{edit}" th:object="${student}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{lastName}" placeholder="Фамилия"
                               class="form-control form-control-lg" id="lastName">
                        <label for="lastName">Фамилия</label>
                        <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}">error</span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{firstName}" placeholder="Имя"
                               class="form-control form-control-lg" id="firstName">
                        <label for="firstName">Имя</label>
                        <span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}">error</span>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{patronymic}" placeholder="Отчество"
                               class="form-control form-control-lg" id="patronymic">
                        <label for="patronymic">Отчество</label>
                        <span class="validationError text-danger" th:if="${#fields.hasErrors('patronymic')}"
                              th:errors="*{patronymic}">error</span>
                    </div>
                    <select th:field="*{projectId}" class="form-control form-control-lg" id ="projectId">
                        <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}">
                        </option>
                    </select>
                    <span class="validationError text-danger" th:if="${#fields.hasErrors('projectId')}"
                          th:errors="*{projectId}">error</span>
                    <input type="hidden" th:field="*{id}">
                    <br/>
                    <button class="btn btn-primary my-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>