<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Активные слушатели</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 gy-5">
            <h1>Активные слушатели</h1>
            <a href="/" class="btn btn-warning m-1">На главную</a>
            <a href="create" class="btn btn-success">Добавить слушателя</a>

            <table class="table responsible">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>#</th>
                </tr>
                <tr th:each="student: ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.patronymic}"></td>
                    <td>
                        <a th:href="@{update(id=${student.id})}"><i class="bi bi-pencil-square"></i></a>
                        <a th:href="@{delete(id=${student.id})}" onclick="askBeforeDelete(event)"><i class="bi bi-trash"></i></a></td>
                </tr>

            </table>
        </div>
    </div>
</div>

<script>
function askBeforeDelete(e) {
   if(confirm('Вы уверены, что хотите удалить запись?')){
   return true;
   }else{
   e.preventDefault();
   }
};
</script>
</body>
</html>